# binaries created by make
/build
/go/cmd/server/resources
/go/cmd/server/build

# environment variables
/.env

# Visual Studio Code files
/.vscode
__debug_bin

# SonarQube static analysis
/.scannerwork
